





*/


.p1{
    text-decoration: underline red;
    color: blue;
}
.p2{
    text-decoration: overlinee
}

.p3{
    text-decoration: line-through;
}
/*
           
                underline
                overline
                line-through

*/